PORT=5001
CLIENT_URL=http://localhost:5000
MONGO_URI=mongodb+srv://admin:rGir
JWT_ACCESS_SECRET=zKB1xyqktI1QQd6OdGx373hOB4G1ZlJr
JWT_REFRESH_SECRET=BWS7rr1qIJaWFypr2gpFpC70ikB2s
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7d
BCRYPT_ROUNDS=10